Repository VisActor/VMind, changes with the labels that .github/labeler.yml gives for each.
All labels: vmind, calculator, chart-advisor

.github/labeler.yml:

# Add 'vmind' label to any change within the 'vmind' package
vmind:
  - packages/vmind/**


# Add 'calculator' label to any change within the 'calculator' package
calculator:
  - packages/calculator/**


# Add 'chart-advisor' label to any change within the 'calculator' package
chart-advisor:
  - packages/chart-advisor/**

feat: error handler
  packages/vmind/__tests__/browser/src/pages/DataInput.tsx
  packages/vmind/src/gpt/chart-generation/NLToChart.ts
  packages/vmind/src/gpt/utils.ts
  packages/vmind/src/skylark/chart-generation/NLToChart.ts
  packages/vmind/src/skylark/utils.ts
Labels: vmind

feat: error handler
  packages/vmind/__tests__/browser/src/pages/DataInput.tsx
  packages/vmind/src/gpt/chart-generation/NLToChart.ts
  packages/vmind/src/gpt/utils.ts
  packages/vmind/src/skylark/chart-generation/NLToChart.ts
  packages/vmind/src/skylark/utils.ts
Labels: vmind

fix: build error
  packages/vmind/src/core/VMind.ts
Labels: vmind

fix: build error
  packages/vmind/src/core/VMind.ts
Labels: vmind

build: prelease version 1.2.5-alpha.4
  common/config/rush/pnpm-lock.yaml
  packages/calculator/package.json
  packages/chart-advisor/package.json
  packages/vmind/package.json
Labels: vmind, calculator, chart-advisor

build: prelease version 1.2.5-alpha.4
  common/config/rush/pnpm-lock.yaml
  packages/calculator/package.json
  packages/chart-advisor/package.json
  packages/vmind/package.json
Labels: vmind, calculator, chart-advisor

feat: enable customRequestFunc in skylark
  packages/vmind/__tests__/browser/src/pages/ChartPreview.tsx
  packages/vmind/__tests__/browser/src/pages/DataInput.tsx
  packages/vmind/src/skylark/chart-generation/NLToChart.ts
Labels: vmind

feat: enable customRequestFunc in skylark
  packages/vmind/__tests__/browser/src/pages/ChartPreview.tsx
  packages/vmind/__tests__/browser/src/pages/DataInput.tsx
  packages/vmind/src/skylark/chart-generation/NLToChart.ts
Labels: vmind

build: prelease version 1.2.5-alpha.5
  common/config/rush/pnpm-lock.yaml
  packages/calculator/package.json
  packages/chart-advisor/package.json
  packages/vmind/package.json
Labels: vmind, calculator, chart-advisor

build: prelease version 1.2.5-alpha.5
  common/config/rush/pnpm-lock.yaml
  packages/calculator/package.json
  packages/chart-advisor/package.json
  packages/vmind/package.json
Labels: vmind, calculator, chart-advisor

feat: enable customRequestFunc in skylark
  packages/vmind/src/skylark/chart-generation/NLToChart.ts
Labels: vmind

feat: enable customRequestFunc in skylark
  packages/vmind/src/skylark/chart-generation/NLToChart.ts
Labels: vmind

build: prelease version 1.2.5-alpha.6
  common/config/rush/pnpm-lock.yaml
  packages/calculator/package.json
  packages/chart-advisor/package.json
  packages/vmind/package.json
Labels: vmind, calculator, chart-advisor

build: prelease version 1.2.5-alpha.6
  common/config/rush/pnpm-lock.yaml
  packages/calculator/package.json
  packages/chart-advisor/package.json
  packages/vmind/package.json
Labels: vmind, calculator, chart-advisor

feat: use alasql to query dataset
  common/config/rush/pnpm-lock.yaml
  packages/vmind/package.json
  packages/vmind/src/gpt/dataProcess/prompts.ts
  packages/vmind/src/gpt/dataProcess/query/queryDataset.ts
  packages/vmind/src/gpt/dataProcess/query/type.ts
  packages/vmind/src/gpt/dataProcess/query/utils.ts
Labels: vmind

feat: use alasql to query dataset
  common/config/rush/pnpm-lock.yaml
  packages/vmind/package.json
  packages/vmind/src/gpt/dataProcess/prompts.ts
  packages/vmind/src/gpt/dataProcess/query/queryDataset.ts
  packages/vmind/src/gpt/dataProcess/query/type.ts
  packages/vmind/src/gpt/dataProcess/query/utils.ts
Labels: vmind

feat: support alasql
  packages/vmind/src/gpt/chart-generation/NLToChart.ts
  packages/vmind/src/gpt/chart-generation/prompts.ts
  packages/vmind/src/gpt/dataProcess/prompts.ts
  packages/vmind/src/gpt/dataProcess/query/queryDataset.ts
Labels: vmind

feat: support alasql
  packages/vmind/src/gpt/chart-generation/NLToChart.ts
  packages/vmind/src/gpt/chart-generation/prompts.ts
  packages/vmind/src/gpt/dataProcess/prompts.ts
  packages/vmind/src/gpt/dataProcess/query/queryDataset.ts
Labels: vmind

feat: support showThoughts in gpt
  packages/vmind/__tests__/browser/src/pages/DataInput.tsx
  packages/vmind/src/gpt/chart-generation/NLToChart.ts
  packages/vmind/src/gpt/chart-generation/prompts.ts
  packages/vmind/src/gpt/chart-generation/utils.ts
Labels: vmind

feat: support showThoughts in gpt
  packages/vmind/__tests__/browser/src/pages/DataInput.tsx
  packages/vmind/src/gpt/chart-generation/NLToChart.ts
  packages/vmind/src/gpt/chart-generation/prompts.ts
  packages/vmind/src/gpt/chart-generation/utils.ts
Labels: vmind

feat: support data aggregation in skylark
  packages/vmind/src/core/VMind.ts
  packages/vmind/src/skylark/chart-generation/NLToChart.ts
  packages/vmind/src/skylark/chart-generation/constants.ts
  packages/vmind/src/skylark/dataProcess/query/prompts.ts
  packages/vmind/src/skylark/dataProcess/query/queryDataset.ts
  packages/vmind/src/skylark/dataProcess/query/type.ts
  packages/vmind/src/skylark/dataProcess/query/utils.ts
Labels: vmind

feat: support data aggregation in skylark
  packages/vmind/src/core/VMind.ts
  packages/vmind/src/skylark/chart-generation/NLToChart.ts
  packages/vmind/src/skylark/chart-generation/constants.ts
  packages/vmind/src/skylark/dataProcess/query/prompts.ts
  packages/vmind/src/skylark/dataProcess/query/queryDataset.ts
  packages/vmind/src/skylark/dataProcess/query/type.ts
  packages/vmind/src/skylark/dataProcess/query/utils.ts
Labels: vmind

feat: replace invalid str in data aggregation
  packages/vmind/src/common/dataProcess/dataQuery.ts
  packages/vmind/src/common/dataProcess/utils.ts
  packages/vmind/src/gpt/dataProcess/prompts.ts
  packages/vmind/src/gpt/dataProcess/query/astPipes.ts
  packages/vmind/src/gpt/dataProcess/query/queryDataset.ts
  packages/vmind/src/gpt/dataProcess/query/utils.ts
  packages/vmind/src/skylark/dataProcess/query/prompts.ts
  packages/vmind/src/skylark/dataProcess/query/queryDataset.ts
Labels: vmind

feat: replace invalid str in data aggregation
  packages/vmind/src/common/dataProcess/dataQuery.ts
  packages/vmind/src/common/dataProcess/utils.ts
  packages/vmind/src/gpt/dataProcess/prompts.ts
  packages/vmind/src/gpt/dataProcess/query/astPipes.ts
  packages/vmind/src/gpt/dataProcess/query/queryDataset.ts
  packages/vmind/src/gpt/dataProcess/query/utils.ts
  packages/vmind/src/skylark/dataProcess/query/prompts.ts
  packages/vmind/src/skylark/dataProcess/query/queryDataset.ts
Labels: vmind

docs: add npm info to readme
  README.md
  readme-zh.md
Labels: none

docs: add npm info to readme
  README.md
  readme-zh.md
Labels: none

feat: replace dataset in aggregation
  packages/vmind/__tests__/browser/src/constants/mockData.ts
  packages/vmind/__tests__/browser/src/pages/DataInput.tsx
  packages/vmind/src/common/dataProcess/dataQuery.ts
  packages/vmind/src/common/dataProcess/utils.ts
  packages/vmind/src/core/VMind.ts
  packages/vmind/src/skylark/dataProcess/query/prompts.ts
  packages/vmind/src/skylark/dataProcess/query/queryDataset.ts
  packages/vmind/src/skylark/dataProcess/query/utils.ts
Labels: vmind

feat: replace dataset in aggregation
  packages/vmind/__tests__/browser/src/constants/mockData.ts
  packages/vmind/__tests__/browser/src/pages/DataInput.tsx
  packages/vmind/src/common/dataProcess/dataQuery.ts
  packages/vmind/src/common/dataProcess/utils.ts
  packages/vmind/src/core/VMind.ts
  packages/vmind/src/skylark/dataProcess/query/prompts.ts
  packages/vmind/src/skylark/dataProcess/query/queryDataset.ts
  packages/vmind/src/skylark/dataProcess/query/utils.ts
Labels: vmind

feat: replace invalid content
  packages/vmind/__tests__/browser/src/pages/DataInput.tsx
  packages/vmind/src/common/dataProcess/dataQuery.ts
  packages/vmind/src/common/dataProcess/utils.ts
  packages/vmind/src/gpt/dataProcess/query/utils.ts
  packages/vmind/src/gpt/utils.ts
Labels: vmind

feat: replace invalid content
  packages/vmind/__tests__/browser/src/pages/DataInput.tsx
  packages/vmind/src/common/dataProcess/dataQuery.ts
  packages/vmind/src/common/dataProcess/utils.ts
  packages/vmind/src/gpt/dataProcess/query/utils.ts
  packages/vmind/src/gpt/utils.ts
Labels: vmind

feat: replace invalid content
  packages/vmind/__tests__/browser/src/pages/DataInput.tsx
  packages/vmind/src/common/dataProcess/dataQuery.ts
  packages/vmind/src/common/dataProcess/utils.ts
  packages/vmind/src/common/vizDataToSpec/pipes.ts
  packages/vmind/src/common/vizDataToSpec/vizDataToSpec.ts
  packages/vmind/src/gpt/dataProcess/query/queryDataset.ts
  packages/vmind/src/skylark/chart-generation/constants.ts
  packages/vmind/src/skylark/dataProcess/query/prompts.ts
  packages/vmind/src/skylark/dataProcess/query/queryDataset.ts
  packages/vmind/src/skylark/utils.ts
  packages/vmind/src/typings/index.ts
Labels: vmind

feat: replace invalid content
  packages/vmind/__tests__/browser/src/pages/DataInput.tsx
  packages/vmind/src/common/dataProcess/dataQuery.ts
  packages/vmind/src/common/dataProcess/utils.ts
  packages/vmind/src/common/vizDataToSpec/pipes.ts
  packages/vmind/src/common/vizDataToSpec/vizDataToSpec.ts
  packages/vmind/src/gpt/dataProcess/query/queryDataset.ts
  packages/vmind/src/skylark/chart-generation/constants.ts
  packages/vmind/src/skylark/dataProcess/query/prompts.ts
  packages/vmind/src/skylark/dataProcess/query/queryDataset.ts
  packages/vmind/src/skylark/utils.ts
  packages/vmind/src/typings/index.ts
Labels: vmind

feat: use chinese prompt in skylark
  packages/vmind/src/common/dataProcess/dataQuery.ts
  packages/vmind/src/common/dataProcess/utils.ts
  packages/vmind/src/gpt/dataProcess/prompts.ts
  packages/vmind/src/skylark/dataProcess/query/prompts.ts
  packages/vmind/src/skylark/dataProcess/query/utils.ts
Labels: vmind

feat: use chinese prompt in skylark
  packages/vmind/src/common/dataProcess/dataQuery.ts
  packages/vmind/src/common/dataProcess/utils.ts
  packages/vmind/src/gpt/dataProcess/prompts.ts
  packages/vmind/src/skylark/dataProcess/query/prompts.ts
  packages/vmind/src/skylark/dataProcess/query/utils.ts
Labels: vmind

feat: aggregate all measure columns in sql
  packages/vmind/src/common/dataProcess/dataQuery.ts
  packages/vmind/src/common/dataProcess/utils.ts
  packages/vmind/src/skylark/dataProcess/query/prompts.ts
Labels: vmind

feat: aggregate all measure columns in sql
  packages/vmind/src/common/dataProcess/dataQuery.ts
  packages/vmind/src/common/dataProcess/utils.ts
  packages/vmind/src/skylark/dataProcess/query/prompts.ts
Labels: vmind

feat: add patch pipelines for skylark
  packages/chart-advisor/src/index.ts
  packages/vmind/src/common/utils.ts
  packages/vmind/src/common/vizDataToSpec/vizDataToSpec.ts
  packages/vmind/src/skylark/chart-generation/NLToChart.ts
  packages/vmind/src/skylark/chart-generation/patch.ts
  packages/vmind/src/skylark/chart-generation/utils.ts
  packages/vmind/src/typings/index.ts
Labels: vmind, chart-advisor

feat: add patch pipelines for skylark
  packages/chart-advisor/src/index.ts
  packages/vmind/src/common/utils.ts
  packages/vmind/src/common/vizDataToSpec/vizDataToSpec.ts
  packages/vmind/src/skylark/chart-generation/NLToChart.ts
  packages/vmind/src/skylark/chart-generation/patch.ts
  packages/vmind/src/skylark/chart-generation/utils.ts
  packages/vmind/src/typings/index.ts
Labels: vmind, chart-advisor

feat: optimize patch pipelines
  packages/vmind/src/common/dataProcess/utils.ts
  packages/vmind/src/common/vizDataToSpec/utils.ts
  packages/vmind/src/gpt/chart-generation/NLToChart.ts
  packages/vmind/src/gpt/chart-generation/patch.ts
  packages/vmind/src/gpt/chart-generation/prompts.ts
  packages/vmind/src/gpt/chart-generation/utils.ts
  packages/vmind/src/skylark/chart-generation/patch.ts
  packages/vmind/src/typings/index.ts
Labels: vmind

feat: optimize patch pipelines
  packages/vmind/src/common/dataProcess/utils.ts
  packages/vmind/src/common/vizDataToSpec/utils.ts
  packages/vmind/src/gpt/chart-generation/NLToChart.ts
  packages/vmind/src/gpt/chart-generation/patch.ts
  packages/vmind/src/gpt/chart-generation/prompts.ts
  packages/vmind/src/gpt/chart-generation/utils.ts
  packages/vmind/src/skylark/chart-generation/patch.ts
  packages/vmind/src/typings/index.ts
Labels: vmind
