Repository VisActor/VMind, changes with the labels that .github/labeler.yml gives for each.
All labels: vmind, calculator, chart-advisor

feat: use fold to visualize more than 2 fields
  packages/vmind/src/common/vizDataToSpec/utils.ts
  packages/vmind/src/gpt/chart-generation/NLToChart.ts
  packages/vmind/src/gpt/chart-generation/patch.ts
  packages/vmind/src/skylark/chart-generation/NLToChart.ts
  packages/vmind/src/skylark/chart-generation/constants.ts
  packages/vmind/src/skylark/chart-generation/patch.ts
Labels: vmind

feat: use fold to visualize more than 2 fields
  packages/vmind/src/common/vizDataToSpec/utils.ts
  packages/vmind/src/gpt/chart-generation/NLToChart.ts
  packages/vmind/src/gpt/chart-generation/patch.ts
  packages/vmind/src/skylark/chart-generation/NLToChart.ts
  packages/vmind/src/skylark/chart-generation/constants.ts
  packages/vmind/src/skylark/chart-generation/patch.ts
Labels: vmind

fix: json format error
  packages/vmind/__tests__/performance/performanceTest.ts
  packages/vmind/src/common/utils.ts
  packages/vmind/src/common/vizDataToSpec/pipes.ts
  packages/vmind/src/gpt/utils.ts
  packages/vmind/src/skylark/dataProcess/query/utils.ts
Labels: vmind

fix: json format error
  packages/vmind/__tests__/performance/performanceTest.ts
  packages/vmind/src/common/utils.ts
  packages/vmind/src/common/vizDataToSpec/pipes.ts
  packages/vmind/src/gpt/utils.ts
  packages/vmind/src/skylark/dataProcess/query/utils.ts
Labels: vmind

fix: prompt optimization
  common/config/rush/pnpm-lock.yaml
  packages/vmind/__tests__/performance/performanceTest.ts
  packages/vmind/package.json
  packages/vmind/src/common/dataProcess/dataQuery.ts
  packages/vmind/src/gpt/chart-generation/prompts.ts
  packages/vmind/src/gpt/dataProcess/prompts.ts
  packages/vmind/src/skylark/dataProcess/query/prompts.ts
  packages/vmind/tsconfig.test.json
Labels: vmind

fix: prompt optimization
  common/config/rush/pnpm-lock.yaml
  packages/vmind/__tests__/performance/performanceTest.ts
  packages/vmind/package.json
  packages/vmind/src/common/dataProcess/dataQuery.ts
  packages/vmind/src/gpt/chart-generation/prompts.ts
  packages/vmind/src/gpt/dataProcess/prompts.ts
  packages/vmind/src/skylark/dataProcess/query/prompts.ts
  packages/vmind/tsconfig.test.json
Labels: vmind

fix: add changelog workflow
  .github/workflows/release.yml
  docs/assets/changelog/en/changelog.md
  docs/assets/changelog/zh/changelog.md
Labels: none

fix: add changelog workflow
  .github/workflows/release.yml
  docs/assets/changelog/en/changelog.md
  docs/assets/changelog/zh/changelog.md
Labels: none

fix: build error
  packages/vmind/src/gpt/dataProcess/query/astPipes.ts
Labels: vmind

fix: build error
  packages/vmind/src/gpt/dataProcess/query/astPipes.ts
Labels: vmind

build: prelease version 1.2.5
  common/config/rush/version-policies.json
  packages/calculator/package.json
  packages/chart-advisor/package.json
  packages/vmind/CHANGELOG.json
  packages/vmind/CHANGELOG.md
  packages/vmind/package.json
Labels: vmind, calculator, chart-advisor

build: prelease version 1.2.5
  common/config/rush/version-policies.json
  packages/calculator/package.json
  packages/chart-advisor/package.json
  packages/vmind/CHANGELOG.json
  packages/vmind/CHANGELOG.md
  packages/vmind/package.json
Labels: vmind, calculator, chart-advisor

.github/labeler.yml:

# Add 'vmind' label to any change within the 'vmind' package
vmind:
  - packages/vmind/**


# Add 'calculator' label to any change within the 'calculator' package
calculator:
  - packages/calculator/**


# Add 'chart-advisor' label to any change within the 'calculator' package
chart-advisor:
  - packages/chart-advisor/**
