Repository VisActor/VMind, pull requests merged in 2025-05, with the labels that each got.

#214 Doc/add trae guid
  docs/assets/guide/en/Getting_Started/Getting_Started.md
  docs/assets/guide/en/Getting_Started/Quickly_Get_Started_with_VisActor_Using_Trae_Context_Doc.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/Getting_Started/Getting_Started.md
  docs/assets/guide/zh/Getting_Started/Quickly_Get_Started_with_VisActor_Using_Trae_Context_Doc.md
Labels: documentation

#249 fix: fix BasicHeatMap key in chartTyprMap
  packages/vmind/__tests__/unit/chartGenerator/chartTypeUtils.test.ts
  packages/vmind/src/atom/chartGenerator/spec/chartTypeUtils.ts
Labels: vmind

#255 test: add test checkChartTypeAndCell
  packages/vmind/__tests__/unit/chartGenerator/checkChartTypeAndCell.test.ts
Labels: vmind

#250 test(chart-advisor): add test case for chart-advisor/src/score.ts
  .gitignore
  packages/chart-advisor/__tests__/Q1.test.ts
  packages/chart-advisor/__tests__/base.test.ts
  packages/chart-advisor/__tests__/score.test.ts
  packages/chart-advisor/__tests__/tsconfig.json
  packages/chart-advisor/jest.config.js
  packages/chart-advisor/src/score.ts
Labels: chart-advisor
